{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Tom Rae</h1>
    <p>Software Engineer</p>
    <p>
        <a href="
        https://www.linkedin.com/in/tom-r-89723755/">LinkedIn</a>
    </p>
    <p>
        <a href="https://github.com/8ball030">GitHub:</a> 3,941 contributions in the last year.
    </p>
    <p>
        <a href="https://twitter.com/8baller11">Twitter:</a> 482 Followers
    </p>
    <p>
        <a href="https://skyline.github.com/8ball030/2023">Github Skyline</a>
    </p>
<br>

    <h1>Education</h1>
    {% if educations %}
        {% for qualification in educations %}
            <h3>{{qualification.institution.name}}</h3>
            <h4>{{ qualification.degree }} - Start: {{ qualification.start_date |date:'Y-m'}} End: {{ qualification.end_date |date:'Y-m'}} </h4>
            <h5>Grade: {{ qualification.grade }}</h5>
            <p>{{ qualification.description }}</p>
        {% endfor %}
    {% endif %}



    <h1>Experience</h1>
    <p>Experience from the following roles.</p>
    {% if roles %}
        {% for role in roles %}
            {% if role.end_date == None %}
                <h4>{{ role.name }}</h4> Start: {{ role.start_date |date:'Y-m'}} End: Present
            {% else %}
                <h4>{{ role.name }}</h4> Start: {{ role.start_date|date:'Y-m'}} End: {{ role.end_date|date:'Y-m' }}
            {% endif %}
            <p>{{ role.description }}</p>

        {% endfor %}
    {% endif %}
    <br>

    <h1>Organisations</h1>
    <p>Experience from the following Organizations.</p>

    {% if organisations %}
        {% for organisation in organisations %}
            <h5>{{ organisation.name }}</h5>
            <p>{{ organisation.description }}</p>
        {% endfor %}
    {% endif %}
    <br>

    <h1>Repos</h1>
    <p>Experience from the following 31 Open Source Repositories.</p>

    {% if repos%}
        {% for repo in repos %}
            <a href="{{ repo.url }}">{{ repo.name }}</a>
        {% endfor %}

    {% endif %}

    <br>
    <br>
    <h1>Tools & Languages</h1>
    <p>Experience with the following tools.</p>
    {% if tools %}
        {% for tool in tools %}
            {% if not forloop.last %}
                <a href="{{ tool.url }}">{{ tool.name }}</a>,
            {% else %}
                <a href="{{ tool.url }}">{{ tool.name }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br>
    <br>
    <p>Experience with the following languages.</p>
    {% for language in languages %}
        {% if not forloop.last %}
            <a href="{{ language.url }}">{{ language.name }}</a>,
        {% else %}
            <a href="{{ language.url }}">{{ language.name }}</a>
        {% endif %}
    {% endfor %}

    <br>
    <br>
    <h1>Hackathons & Honors</h1>
    <p>Experience from the following Hackathons.</p>
    {% if honors %}
        {% for honor in honors %}
            <h4>{{ honor.name }}</h4> {{honor.date|date:'Y-m'}}
            <p>{{ honor.description }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
